/* add keyframed animation */
@-webkit-keyframes logomove {
    from {width: 25px;}
    to {width: 475px;}
    from {opacity: 0;}
    to {opacity: 1;}
}

/* add animation to logo */
#logo {
    animation-name: logomove;
    animation-duration: 5s;
}

/* Body element uses poppins with backup of serif and has a background image "concrete_seamless.png" */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

body {
    font-family: 'Poppins', serif;
    background: #f1f1f1 url('../images/concrete_seamless.png')
}

/* styling header to use flex and match the example */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* modifying nav_links to use flex and match example  */

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
/* styling links to be same color after visited. */
a { 
    color: blue;
}
a:visited {
    color: blue; 
}
/* styling headers that are only direct children of card class to round corners, add color, and add border */
.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0 20px 0; 
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 50px 50px 0 0; 
}
/* styling card class to have flex-basis and border-radius */
.card {
    border-radius: 50px 50px 0 0;
    flex-basis: 450px;
}
/* styling pricing class to use flex and match example */
.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; 
}
/* styling images in gallery to have a border, width and margin */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}
/* styling gallery to use flex and match example */
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* 900 px and bigger media query */

@media screen and (min-width: 900px) {
    /* styling header to use flex and match example */
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    /* adjusting nav_links to fit example and use flex */
    .nav_links {
        flex-direction: row; 
    }
    /* giving card class a flex-basis */
    .card {
        flex-basis: 275px;
    }
    /* styling pricing class to use flex and match example */
    .pricing {
        flex-direction: row;
        align-items: center; 
    }
    /* styling headers which are a DIRECT child of body to be sticky */
    body > header {
        position: sticky;
        top: 0;
    } 
}

/* prefers reduced motion media query */
@media screen and (prefers-reduced-motion: reduce) {
    /* The logo class should appear but not be animated if prefers-reduced-motion is selected in the accessibility preferences.  */
    #logo {
        animation-name: none;
    }
}


/* styling print view */
@media print {
    /* Styling font of body to Arial with a backup value of Helvetica */
    body {
        font-family: Arial, Helvetica;
        background: #f1f1f1 none; 
    }

    /* nav/nav_links elements are spaced according to the example. */
    nav {
        width: 100%;
    }
    /* styling nav links to use flex and match example */
    .nav_links {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    /* pricing class so that the elements align along the bottom. */
    .pricing {
        justify-content: flex-end;
        align-content: flex-end;
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    /* The card elements have a solid border 2px of #45ADDD and use flex-basis of 325px.  */
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    /* No part of the gallery should be visible. */
    .gallery, #gallery{
        display: none;
    }

    /* Thumbs up styling. */
    .card ul li:nth-child(even)::after {
        content: "\1F44D";
    }
}





